html, html a {
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

.layout-h .wrapper > section > .content-wrapper > h3 {
  display: block;
  background: none;
}

.nav-wrapper {
	padding: 10px;
	box-shadow: none;
}

.topnavbar .navbar-nav > li > a {
	font-size: 16px;
}

.registration-panel {
	margin-top: 100px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 400;
}